<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj nowego klienta</title>
    <style>
        body {
            display: grid;
            grid-template-columns: auto auto auto;
            background-color: aliceblue;
        }

        input {
            float: right;
        }
        .menu {
            border: double black 2px;
            grid-column-start: 1;
            grid-column-end: 2;
            width: 40%;
            padding: 5px;
        }
    </style>
</head>
<body>
<div class="menu"><h2>Menu</h2>
    <a href="/"><img alt="strona główna" src="https://dabuttonfactory.com/button.png?t=Strona+g%C5%82%C3%B3wna&f=Calibri-Bold&ts=15&tc=fff&tshs=1&tshc=000&w=150&h=50&c=5&bgt=gradient&bgc=3d85c6&ebgc=073763"></a></div>
<form th:object="${sell}" th:action="@{/reports/editSell}" method="post">
    <table>
        <tr>
            <th>Dane sprzedaży:</th>
        </tr>
        <tr>
            <td>Data <input type="text" th:value="*{date}" th:field="*{date}" required pattern=".*\S+.*"
                                title="This field is required">
            <input type="hidden" th:value="*{operator}" th:field="*{operator}"></td>
        </tr>
        <tr>
            <td>Pojazd <input type="text" th:value="*{car.manufacturer + ' ' + car.model}" th:field="*{car}"></td>
        </tr>
        <tr>
            <td>Cena <input type="text" th:value="*{price}" th:field="*{price}">
                <input type="hidden" th:field="*{id}" th:value="*{id}"></td>
        </tr>
        <tr>
            <td>Odstąpiono od umowy
                <input type="checkbox" th:field="*{canceled}" value="true">
            </td>
        </tr>
    </table>
    <input type="submit" value="zapisz">
</form>
</body>
</html>