<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>registration</title>
</head>
<body>
<h1>Formularz rejestracyjny</h1>
<form th:action="@{/editUser}" th:object="${user}" method="POST" enctype="utf8">
    <input name="id" type="hidden" th:value="*{id}">
    <div>
        <p>id</p>
        <h3 th:text="*{id}" ></h3>
    </div>
    <div>
            <p>email</p>
            <h3 th:text="*{email}" ></h3>
    </div>
    <div>
        <p>userName</p>
        <h3 th:text="*{login}"></h3>
    </div>
    <div>
        <label>ROLE_ADMIN
            <input name="adminRole" th:if="*{roles.contains('ROLE_ADMIN')}" type="checkbox" th:value="ROLE_ADMIN" checked/>
            <input name="adminRole" th:unless="*{roles.contains('ROLE_ADMIN')}" type="checkbox" th:value="ROLE_ADMIN"/>
        </label>

        <label>ROLE_OWNER
            <input name="ownerRole" th:if="*{roles.contains('ROLE_OWNER')}" type="checkbox" th:value="ROLE_OWNER" checked/>
            <input name="ownerRole" th:unless="*{roles.contains('ROLE_OWNER')}" type="checkbox" th:value="ROLE_OWNER" />
        </label>
    </div>
    <button type="submit">Edytuj</button>
</form>
</body>
</html>