<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new car</title>
    <style>
        body {
            display: grid;
            grid-template-columns: auto auto auto;
            background-color: aliceblue;
        }

        input {
            float: right;
        }
        .menu {
            border: double black 2px;
            grid-column-start: 1;
            grid-column-end: 2;
            width: 40%;
            padding: 5px;
        }
    </style>
</head>
<body>
<div class="menu"><h2>Menu</h2>
    <a href="/"><img alt="strona główna" src="https://dabuttonfactory.com/button.png?t=Strona+g%C5%82%C3%B3wna&f=Calibri-Bold&ts=15&tc=fff&tshs=1&tshc=000&w=150&h=50&c=5&bgt=gradient&bgc=3d85c6&ebgc=073763"></a></div>
<form th:object="${operator}" th:action="@{/customerRegistration}" method="post">
    <table>
        <tr>
            <th>Dane klienta:</th>
        </tr>
        <tr>
            <td>Imię <input type="text" th:field="${operator.firstName}" required pattern=".*\S+.*"
                            title="This field is required"></td>
        </tr>
        <tr>
            <td>Nazwisko <input type="text" th:field="${operator.lastName}" required pattern=".*\S+.*"
                                title="This field is required"></td>
        </tr>
        <tr>
            <td>Numer dowodu osobistego &nbsp;<input type="text" th:field="${operator.idCardNumber}" required
                                               pattern=".*\S+.*"
                                               title="This field is required"></td>
        </tr>
    </table>
    <input type="submit" value="dodaj">
</form>
<div th:if="duplicate != null"><h3 th:text="${duplicate}"></h3></div>
</body>
</html>
