<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>registration</title>
</head>
<body>
<h1>Formularz rejestracyjny</h1>
<form th:action="@{/register}" th:object="${user}" method="POST" enctype="utf8">
    <div>
        <label>email
            <input th:field="*{email}"/>
        </label>
        <p th:each="error : ${#fields.errors('email')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label>userName
            <input th:field="*{login}"/>
        </label>
        <p th:each="error: ${#fields.errors('login')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label>password
            <input type="password" th:field="*{password}"/>
        </label>
        <p th:each="error : ${#fields.errors('password')}"
           th:text="${error}">Validation error</p>
    </div>
    <button type="submit">Zarejestruj</button>
</form>

<a th:href="@{/login}">Zaloguj</a>
</body>
</html>